#greeting{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    font-weight: bolder;
}

.clock {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}