body{
margin: 0px;
padding: 0px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.addButton{
    width: 35px;
    height: 35px;
    position:fixed;
    bottom:15px;
    right:15px;
    border-radius: 100%;
    padding:10px;
    background-color:green;
    color:#fff;
    text-align:center;
    z-index:2;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    }
h1{color: red;}
/* <Pop Up Form > */
.bg-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;

}
.modal-content
{
   width: 500px;
   height: 300px;
   background-color: white;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
   position: relative;
   

}
.modal-content form input
{
    width: 50%;
    display: block;
    margin: 19px auto;

}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;

}
.saveButton{
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}
.saveButton:hover {
    background-color: white;
		color: blue;
		border: 2px solid blue;
        cursor: pointer;
  }
.cancelButton {
	background-color: red;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}
.cancelButton:hover {
    background-color: white;
		color: red;
		border: 2px solid red;
        cursor: pointer;
  }
  /* </Pop Up Form > */


  /* <Accordion Elements> */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto  ;
    background-color: rgb(78, 78, 168);
    padding: 4px;
  }
.grid-element {
    position: relative;
    padding: 4px;
    font-size: 15px;
    text-align: center;
  }
  .grid-element button span{
    position: absolute;
    right: 14px;
    font-size: 15px;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
   text-align: center;
  }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

   /* </Accordion Elements> */